*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: clamp(0.875em, 0.5svw + 0.6em, 1.125em);
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.page-header {
  padding: 1em;
  background-color: #484848;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 9999;
  /* border-bottom: 2px solid rgb(167, 167, 167); */
  /* border-top: 2px solid rgb(167, 167, 167); */
}


.contactBanner {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: Gabarito;

}

.bannerItem {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  align-items: center !important;
  align-content: center;
  -webkit-align-items: center !important;
  -webkit-align-content: center;
  column-gap: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  >a {
    text-decoration: none;
  }
}

@keyframes shine {
  0% {
    background-position: 110% 0%, 0 0;
    -webkit-background-position: 110% 0%, 0 0;
  }

  100% {
    background-position: -10% 0%, 0 0;
    -webkit-background-position: -10% 0%, 0 0;
  }
}

@-moz-keyframes shine {
  0% {
    background-position: 110% 0%, 0 0;
  }

  100% {
    background-position: -10% 0%, 0 0;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 110% 0%, 0 0;
    -webkit-background-position: 110% 0%, 0 0;
  }

  100% {
    background-position: -10% 0%, 0 0;
    -webkit-background-position: -10% 0%, 0 0;
  }
}

.hsd-title {
  text-transform: uppercase;
  font-size: 15pt;
  /* margin-block: 0.2em; */
  letter-spacing: 0.05em;
  font-weight: bold;
  background-image: linear-gradient(to right,
      #a1a1a1 0,
      #ececec 22%,
      #e6e5e5 45%,
      #c8c8c8 50%,
      #c3c3c3 55%,
      #b5b5b5 78%,
      #929292 100%);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  color: transparent;
  background-image:
    linear-gradient(to right,
      transparent 0%,
      transparent 45%,
      rgb(195, 195, 195) 50%,
      transparent 55%,
      transparent 100%),
    linear-gradient(270deg,
      #8c8c8c 1.3%,
      #999 15% #868686 29.6%,
      #828282 29.6%,
      #7d7d7d 31.8%,
      #797979 31.8%,
      #6a6a6a 38.9%,
      #d3d3d3);
  background-position: 110% 0%, 0 0;
  background-size: 200% auto, auto;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine infinite ease-in-out alternate-reverse 1.5s;
  -webkit-animation: shine infinite ease-in-out alternate-reverse 1.5s;
}

main {
  padding: 1em;
}

.menu {
  position: relative;
}

.menu-toggle {
  border: 0;
  background-color: transparent;
  color: rgb(218, 218, 218);
}


.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
}

.menu.is-open .menu-dropdown {
  display: block;
}

.nav-menu {
  font-family: Gabarito;
  font-size: 15pt;
  text-align: center;
  margin: 0;
  padding-left: 0;
  border-bottom: 1px solid #ccc;
  list-style: none;
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.nav-menu>li+li {
  border-top: 1px solid #ccc;
}

.nav-menu>li>a {
  display: block;
  padding: 0.8em 1em;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
}


.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  animation: fadeIn 0.5s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  padding: 3em 1em 0em 1em;
  height: 13rem;
  text-align: center;
  color: #000000;
}

.hero-1 {
  font-family: 'Prompt', sans-serif;
  font-size: 25pt;
}

.hero-2 {
  font-family: 'Prompt', sans-serif;
  font-size: 12pt;
}

.notice {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: rgba(246, 250, 23, 0.825) 3px solid;
  border-radius: 10px;
  background-color: rgba(255, 247, 0, 0.7);
  color: #000000;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  font-family: Gabarito;
  font-size: 9pt;
}

.noticeIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}

.mImg {
  padding: 1em;
  width: 100%;
  border-radius: 25px;
}

.optionsMain {
  padding: 1em;
  font-family: Gabarito;
  display: flex;
  flex-direction: column;
  row-gap: 3em;
  margin-bottom: 4em;
}

.bookAppointment {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.bATitle {
  font-size: 17pt;
}

.bAText {
  font-size: 12pt;
}


button {
  border: #002E4B 2px solid;
  border-radius: 5px;
  background-color: transparent;
  font-size: 12pt;
  font-family: Prompt;
  padding: 0.25em 0.5em;
  color: #000000;
}

footer {
  font-family: Gabarito;
  color: aliceblue;
  background-color: #002E4B;
  padding: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 4em;
}

.mainFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactFooter {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.contactTitle {
  font-size: 17pt;
}

.footerItem {
  font-size: 12pt;
}

.copyright {
  font-size: 10pt;
}


.accredMain {
  padding: 1em;
  font-family: Gabarito;
  margin-bottom: 3em;
}


.accredTitle {
  font-size: 17pt;
  margin-bottom: 1em;
}

.accreditations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5em;
  row-gap: 0.5em;
  justify-content: space-between;
}

.logo {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.bdaLogo {
  width: 100%;
}

.bmaLogo {
  width: 100%;
  background-color: #002E4B;
  
}

.gdcLogo {
  width: 100%;
}

.bmaLogoCont {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-content: center;
}
